.Carbon-FooterPresentation-Container {
  /* border: 1px solid transparent;
  background: linear-gradient(0deg, #E2E8F0, #E2E8F0) padding-box,
  linear-gradient(267.62deg, rgba(227, 227, 238, 0.5) 8.2%, rgba(255, 255, 255, 0.5) 82.68%) border-box,
  linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) border-box; */

  /* box-shadow: 4px 4px 20px 0px rgba(111, 140, 176, 0.41),
                -6px -6px 20px 0px rgba(255, 255, 255, 1),
                  2px 2px 4px 0px rgba(114, 142, 171, 0.1); */

  @apply h-16 absolute w-full rounded-xl border-b-0 bottom-0 boxShadow-Gray borderBox-Gray2 bg-slate-100 py-3 px-4 gap-3 flex items-center justify-start;
}
.Carbon-FooterPresentation-BackgroundItems {
  background: linear-gradient(0deg, #F3F4F6, #F3F4F6)padding-box,
    linear-gradient(122.51deg, rgba(227, 227, 238, 0.5) 16.62%, rgba(255, 255, 255, 0.5) 56.74%)border-box,
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)border-box;

  box-shadow: 4px 4px 14px 0px rgba(225, 225, 255, 1) inset,
              4px -4px 9px 0px rgba(255, 255, 255, 0.6) inset;
  border: 1px solid transparent;
  border-radius: 27px;
  @apply bg-gray-100 flex justify-center items-center w-full h-full;
}

.Carbon-FooterPresentation-Vectors{
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply w-6 h-6 bg-violet-700;
}
.Carbon-FooterPresentation-MicVector {
  mask-image: url(/Carbon/microphone.svg);
}
.Carbon-FooterPresentation-SendVector {
  mask-image: url(/Carbon/send.svg);
  @apply cursor-pointer;
}
.Carbon-FooterPresentation-KeyboardVector {
  mask-image: url(/Carbon/keyboard.svg);
}
.Carbon-FooterPresentation-VectorSection {
  @apply w-10 h-10 p-2 rounded-full cursor-pointer;
}
.Carbon-FooterPresentation-VectorSectionSelected {
  margin: 0 auto;
  @apply w-14 h-14 p-2 rounded-full cursor-pointer ;
}
.Carbon-FooterPresentation-SectionSelected {
  @apply w-full -ml-[52px] ;
}
.Carbon-FooterPresentation-Input {
  background: none;
  @apply w-full p-1 ;
}
input:focus {
  outline: none;
  border: none;
}