.react-calendar{
    width: 100% !important;   
    @apply bg-gray-100 rounded-[27px] border-none boxsInnerShadows borderBox-Gray #{!important};
}
.react-calendar__navigation {
    @apply rounded-[27px]
}
.react-calendar__navigation__prev2-button {
    @apply rounded-[27px]
}
.react-calendar__navigation__next2-button{
    @apply rounded-[27px]
}
.react-calendar__tile {
    @apply rounded-[27px]
}
.react-calendar__tile--active {
    @apply bg-primary-color #{!important};
}

.ReactModal__Content {
 @apply static #{!important};
}

.ReactModal__Overlay {
    @apply flex w-full justify-center z-20 items-center #{!important};
}

.bookMarkLayoutIcon {
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
//   mask-image: url('/Carbon/logout.svg');     
}

.global-Icons {
    mask-image: url('/Carbon/global.svg');  
    @apply w-5 h-5 bg-gray-500 ; 
}

.calender-Icons {
    mask-image: url('/Carbon/calendar-2.svg');  
    @apply w-5 h-5 bg-gray-500 ; 
}