.Carbon-Toggle-Button-container {
  @apply disabled:cursor-not-allowed flex justify-center items-center  px-4 whitespace-nowrap  text-[#8290a3] leading-[21px]  text-[14px] font-[500]    #{!important};
}

@media screen and (max-width: 400px)  {
  .Carbon-Toggle-Button-container{
    @apply text-[10px] #{!important};
  }
}
.Carbon-Toggle-Button-container-disabled {
  @apply opacity-[50%] #{!important};
}

.Carbon-Toggle-Button-container[data-mode="active"] {
  @apply text-white #{!important};
}

.Carbon-Toggle-Button-container[data-mode="active2"] {
  @apply text-[#8290a3] #{!important};
}

.Carbon-secandary-Toggle-Button-container {
  @apply disabled:cursor-not-allowed px-5 md:w-[220px] flex justify-center items-center  whitespace-nowrap  text-[#374151] leading-[21px]  text-[14px] font-[500]    #{!important};
}

.Carbon-secandary-Toggle-Button-container[data-mode="active"] {
  @apply disabled:cursor-not-allowed flex justify-center items-center px-5  md:w-[220px] whitespace-nowrap  text-white leading-[21px]  text-[14px] font-[500]    #{!important};
}

.Carbon-secandary-Toggle-Button-container-disabled {
  @apply opacity-[50%] #{!important};
}


.Carbon-grid-Toggle-Button-container {
  @apply disabled:cursor-not-allowed flex px-1 py-3   whitespace-nowrap  text-[#8290a3] leading-[21px]  text-[10px] font-[500]    #{!important};
}

.Carbon-grid-Toggle-Button-container-disabled {
  @apply opacity-[50%] #{!important};
}

.Carbon-grid-Toggle-Button-container[data-mode="active"] {
  @apply text-white #{!important};
}

.Carbon-grid-Toggle-Button-container[data-mode="active2"] {
  @apply text-[#8290a3] #{!important};
}
