.Carbon-Presentation-Container {
    @apply w-full h-screen flex justify-center text-gray-700 text-center;
}
.Carbon-Presentation-PresentationSection {
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @apply relative overflow-auto w-full ;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Carbon-Presentation-PresentationSection::-webkit-scrollbar{
    display: none;
}
.Carbon-Presentation-Content {
    @apply relative flex flex-col gap-4 justify-center items-center mt-16 px-4 pb-20;
}
.Carbon-Presentation-PictureSection { 
    box-shadow: 4px 4px 20px 0px rgba(111, 140, 176, 0.41),
                    -6px -6px 20px 0px rgba(255, 255, 255, 1),
                        2px 2px 4px 0px rgba(114, 142, 171, 0.1);    
    border: 1px solid transparent;
    background: linear-gradient(0deg, #F3F4F6, #F3F4F6)padding-box,
                linear-gradient(267.62deg, rgba(227, 227, 238, 0.5) 8.2%, rgba(255, 255, 255, 0.5) 82.68%)border-box,
                linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)border-box;
    @apply w-48 h-48 bg-gray-100 rounded-full flex items-center justify-center;
}
.Carbon-Presentation-PresentationPicture {
    @apply w-40 h-40 bg-stone-200 bg-cover bg-no-repeat bg-center inset-0 rounded-full;
    background-image: url(./src/assets/Carbon/profileImage.png);
}
.Carbon-Presentation-PresentationName {
    text-shadow: 0px 1px 1px currentColor;
    @apply font-medium text-lg;
}
.Carbon-Presentation-SubTitle {
    @apply text-sm;
}
.Carbon-Presentation-ArrowLeft{
    @apply w-10 h-10 absolute left-[18px] -top-2 ;
}
.Carbon-Presentation-ArrowLeftVector{
    background:url(/Carbon/arrowLeftVector.svg) no-repeat;
    background-size: cover;
    @apply w-6 h-6;
}

.Carbon-Presentation-Vectors{
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;

    box-shadow: 6px 6px 22px 0px rgba(63, 70, 78, 0.31),
    -4px -4px 20px 0px rgba(255, 255, 255, 1),
        4px 4px 14px 0px rgba(193, 213, 238, 1) inset,
            -4px -4px 9px 0px rgba(255, 255, 255, 0.88) inset;
    background: linear-gradient(0deg, #F3F4F6, #F3F4F6) padding-box,
    linear-gradient(122.51deg, rgba(227, 227, 238, 0.5) 16.62%, rgba(255, 255, 255, 0.5) 56.74%)border-box,
    linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)border-box;
    @apply w-10 h-10 rounded-full flex justify-center items-center mr-2;
}
.Carbon-Presentation-CallVector{
    // mask-image: url(/Carbon/globalLinksVector.svg);
    mask-image: url(/Carbon/callVector.svg);
    @apply w-6 h-6 bg-violet-700;   
}
.Carbon-Presentation-EmailVector{
    // mask-image: url(/Carbon/globalLinksVector.svg);
    mask-image: url(/Carbon/emailVector.svg);
    @apply w-6 h-6 bg-violet-700;   

}
.Carbon-Presentation-WebsiteVector{
    mask-image: url(/Carbon/globalLinksVector.svg);
    @apply w-6 h-6 bg-violet-700;   

}
.Carbon-Presentation-LinkedinVector{
    // mask-image: url(/Carbon/globalLinksVector.svg);
    mask-image: url(/Carbon/linkedinVector.svg);
    @apply w-6 h-6 bg-violet-700;   

}

.Carbon-Presentation-InfoSection{
    @apply flex flex-col gap-4 justify-center text-sm font-medium mt-11;
}
.Carbon-Presentation-Info{
    // justify-content: left;
    @apply flex items-center;
    
}


  