.Carbon-Profile-Container {
    @apply w-full h-screen flex justify-center text-gray-700 text-center;
}
.Carbon-Profile-Background{
    box-shadow: 4px 4px 14px 0px rgba(225, 225, 255, 1);
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #FFFFFF,#E2E8F0  ) 1;
    max-width: fit-content;
}
.Carbon-Profile-Content {
    @apply flex flex-col gap-4 justify-center items-center absolute top-11 px-4;
}
.Carbon-Profile-ProfilePicture {
    box-shadow: 4px 4px 14px 0px rgba(225, 225, 255, 1);
    @apply w-40 h-40 border-2 border-white rounded-full relative;
}
.Carbon-Profile-ProfilePictureBorder {
    background-image: url(./profileImage.png) ;
    @apply absolute inset-0 rounded-full border-2 bg-cover bg-no-repeat	border-gray-100;
}
.Carbon-Profile-GalleryIcon {
    border-color: rgba(214, 227, 243, 0.46);
    @apply w-10 h-10 bg-slate-50 absolute left-56 rounded-full flex justify-center items-center border;
}
.Carbon-Profile-GalleryImport {
    @apply  left-80 top-32;
}
.Carbon-Profile-ProfileName {
    @apply font-medium text-lg;
}
.Carbon-Profile-SubTitle {
    @apply text-sm;
}
.Carbon-Profile-Footer {
    @apply h-16 fixed rounded-xl border border-b-0 border-white bottom-0 bg-slate-100 py-3 px-7 gap-16 flex items-center justify-center;
}
.Carbon-Profile-FooterIcon {
    @apply w-10 h-10 p-2 rounded-full;
}
.Carbon-Profile-ActiveIcon {
    box-shadow: 4px 4px 14px 0px #C1D5EE inset, -4px -4px 9px 0px #FFFFFFE0 inset;
    border: 1px solid white;
}
.Carbon-Google-Button-container {
    background: none;
}
