.Carbon-TextField-container {
  @apply flex flex-col  relative w-[100%]  gap-y-1;
}
.Carbon-TextField-label {
  @apply leading-[19.36px] text-left text-[13px] ml-6 font-medium text-gray-700;
}
.Carbon-TextField-input {
  @apply text-gray-700 bg-gray-100 leading-[21px]  text-[14px] font-[400]  focus:outline-none w-full h-[44px]   rounded-[27px]  placeholder:leading-[27.25px] px-[16px] placeholder:text-[13px]  placeholder:font-[300]   pb-[12px] pt-[10px]  placeholder:text-gray-400;
}
.Carbon-TextField-input:-webkit-autofill,
.Carbon-TextField-input:-webkit-autofill:hover, 
.Carbon-TextField-input:-webkit-autofill:focus{
  /* border: 1px solid unset; */
  /* -webkit-text-fill-color: unset; */
  /* -webkit-box-shadow: 0 0 inset; */
  transition: background-color 5000s ease-in-out 0s;
  @apply text-gray-700 bg-gray-100 leading-[21px]  text-[14px] font-[400]  focus:outline-none w-full h-[44px]   rounded-[27px]  placeholder:leading-[27.25px] px-[16px] placeholder:text-[13px]  placeholder:font-[300]   pb-[12px] pt-[10px]  placeholder:text-gray-400;
}

.Carbon-TextField-inValid {
  @apply border-red-500 border-2 #{!important};
}
.Carbon-TextField-box {
  border: 1px solid transparent;
 
  @apply rounded-[27px]  relative flex items-center bg-gray-100  justify-between ;
}
.Carbon-TextField-togglePassword {
  @apply cursor-pointer;
}
.Carbon-TextField-icon-eye {
  @apply bg-[url('/Carbon/eye.svg')] absolute right-3 bottom-3 w-[25px] h-[22px];
}
.Carbon-TextField-icon-eye[data-mode="empty"]{
  @apply opacity-50;
}
.Carbon-TextField-icon-eyeOff[data-mode="empty"] {
  @apply opacity-50;
}
.Carbon-TextField-icon-eyeOff {
  @apply bg-[url('/Carbon/eyeOff.svg')] absolute right-3 bottom-3 w-[25px] h-[22px];
}
.Carbon-TextField-error {
  @apply text-red-500 text-[11px] font-medium ml-6 mt-[1px];
}

.Carbon-TextField-label-required {
  @apply text-red-500 ml-1;
}

.Carbon-TextField-selectPhone-container {
  @apply mr-3 ml-7 cursor-pointer flex justify-center items-center;
}
.Carbon-TextField-selectPhone-container-icon {
  @apply ml-2 w-[10px];
}
.Carbon-TextField-dropDown-container {
  @apply absolute z-[1600] overflow-y-scroll  w-[70px]  bg-gray-100 h-24 top-10;
}
.Carbon-TextField-dropDown-container::-webkit-scrollbar {
  width: 10px;
}
.Carbon-TextField-dropDown-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
.Carbon-TextField-dropDown-item {
  @apply flex justify-between cursor-pointer px-2 border-b pb-2 border-gray-200 my-2 w-full;
}
.Carbon-TextField-dropDown-item-text {
  @apply text-[10px] ml-2;
}
.Carbon-TextField-input[type="phone"] {
  @apply border-l-0 rounded-l-none pl-1  #{!important};
}
.Carbon-TextField-box[deta-selectBox="true"] {
  @apply rounded-bl-none #{!important};
}
