.Carbon-AreaChartComponent-container {
  @apply w-[100%] h-[300px] rounded-[24px]  p-[20px] pb-10  justify-center borderBox-Gray boxShadow-Gray;
}

.Carbon-AreaChartComponent-text {
  @apply text-gray-700 leading-[21px] text-[14px] font-[600]   pb-2;
}
