.Carbon-ContentCard-Container {
    @apply w-[-webkit-fill-available] borderBox-Gray boxShadow-Gray flex flex-col mb-4 items-start text-gray-700 text-center rounded-3xl p-5 bg-gray-100;
}
.Carbon-ContentCard-Vectors{
    @apply flex flex-row gap-[8px] ;
}
.Carbon-ContentCard-Vectors[data-mode='review']{
    @apply invisible ;
}
.Carbon-ContentCard-Vectors[data-mode='share']{
    @apply invisible ;
}
.Carbon-ContentCard-CardVector{
    @apply bg-gray-100 w-10 h-10 flex justify-center borderBox-Gray boxShadow-Gray items-center rounded-full cursor-pointer ; 
}
.Carbon-ContentCard-CardVector[data-active='true']{
    @apply bg-primary-color boxShadow-purple #{!important} ; 
}
.Carbon-ContentCard-CardVector[data-active='true'] .Carbon-ContentCard-MaskVector{
    @apply bg-white #{!important} ; 
}
.Carbon-ContentCard-Title {
    @apply text-sm font-semibold;
}
.Carbon-ContentCard-Section {
    @apply flex flex-row justify-between w-full mb-4;
}
.Carbon-ContentCard-Children {
    @apply text-left w-full text-sm;
}
.Carbon-ContentCard-CVector{
    background: url(/Carbon/cLinksVector.svg) no-repeat center;
    @apply w-6 h-[30px] #{!important} ;
}
.Carbon-ContentCard-GlobalVector{
    background: url(/Carbon/globalLinksVector.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-PdfVector{
    background: url(/Carbon/filePdf.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-PhotoShopVector{
    background: url(/Carbon/photoshop.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-ExelVector{
    background: url(/Carbon/exel.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-idVector{
    background: url(/Carbon/id.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-powerpointVector{
    background: url(/Carbon/powerpoint.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-wordVector{
    background: url(/Carbon/word.svg) no-repeat center;
    @apply w-6 h-6;
}
.Carbon-ContentCard-MaskVector{
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-violet-700;
}
.Carbon-ContentCard-ArrowVector{
    mask-image: url(/Carbon/arrowSwapHorizontalVector.svg);
}
.Carbon-ContentCard-TrashVector{
    mask-image: url(/Carbon/trashVector.svg);
}
.Carbon-ContentCard-EditVector{
    mask-image: url(/Carbon/edit.svg);
}