.Carbon-ContentCard-Container {
    border: 1px solid white;
    box-shadow:
    4px 4px 20px 0px rgba(111, 140, 176, 0.41),
    -6px -6px 20px 0px rgba(255, 255, 255, 1),
    2px 2px 4px 0px rgba(114, 142, 171, 0.1);

    @apply w-full flex flex-col items-start text-gray-700 text-center rounded-3xl min-h-44 p-5 bg-gray-100;
}
.Carbon-ContentCard-Vectors{
    @apply flex flex-row gap-[6px] ;
}
.Carbon-ContentCard-CardVector{
    box-shadow:
    4px 4px 20px 0px rgba(111, 140, 176, 0.41),
    -6px -6px 20px 0px rgba(255, 255, 255, 1),
    2px 2px 4px 0px rgba(114, 142, 171, 0.1);
    @apply bg-gray-100 w-10 h-10 flex justify-center items-center rounded-full border border-white ; 
}
.Carbon-ContentCard-CardVector div{
    @apply w-6 h-6 bg-cover bg-no-repeat;
}
.Carbon-ContentCard-Title {
    text-shadow: 0px 1px 1px currentColor;
    @apply text-sm font-medium;
}
.Carbon-ContentCard-Section {
    @apply flex flex-row justify-between w-full mb-4;
}
.Carbon-ContentCard-Children {
    @apply text-left text-sm;
}
.Carbon-ContentCard-CVector{
    background-image: url(./src/assets/Carbon/cLinksVector.svg);
    @apply h-[30px] #{!important} ;
}
.Carbon-ContentCard-GlobalVector{
    background-image: url(./src/assets/Carbon/globalLinksVector.svg);
}
.Carbon-ContentCard-ArrowVector{
    background-image: url(./src/assets/Carbon/arrowSwapHorizontalVector.svg);
}
.Carbon-ContentCard-TrashVector{
    background-image: url(./src/assets/Carbon/trashVector.svg);
}
.Carbon-ContentCard-EditVector{
    background-image: url(./src/assets/Carbon/editContentCard.svg);
}