@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins;
}

@font-face {
  font-family: Poppins;
  src: url("../src/assets/Fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Poppins-Bold;
  src: url("../src/assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@layer utilities {
  .boxsInnerShadows {
    box-shadow: inset -4px -4px 9px 0px rgba(255, 255, 255, 0.6), inset 4px 4px 14px 0px rgba(225, 225, 255, 1);
  }

  .boxOutterShadows {
    box-shadow: 2px 2px 20px 0px rgba(111, 140, 176, 0.21), 2px 2px 4px 0px rgba(114, 142, 171, 0.1);
  }

  .grayBorderGradin {
    background: linear-gradient(rgba(243, 244, 246, 1), rgba(243, 244, 246, 1)) padding-box, linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) border-box;
  }
  .contactBoxShadows {
    box-shadow: 4px 4px 20px 0px rgba(111, 140, 176, 0.41);
  }
  .contactBorderGradin {
    background: linear-gradient(rgba(243, 244, 246, 1), rgba(243, 244, 246, 1)) padding-box, linear-gradient(rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%) border-box;
  }
  .hiddenScrollBar::-webkit-scrollbar {
    display: none !important;
  }
}
