@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Poppins;
}

@font-face {
    font-family:Poppins;
    src: url("../src/assets/Fonts/Poppins-Regular.ttf") format("truetype")
}
@font-face{
    font-family:Poppins-Bold;
    src:url("../src/assets/fonts/Poppins-Bold.ttf") format("truetype")
}
