.Carbon-ContactsView-Container {
  @apply w-full h-screen py-6 mt-[50px] text-gray-700;
}

.Carbon-ContactsView-contactText {
  @apply leading-[24px] text-[16px] text-gray-700 mb-[22px] px-6  font-[600];
}
.Carbon-ContactsView-buttonsContainer {
  @apply flex justify-between items-center px-6 space-x-[25px];
}
.Carbon-ContactsView-box {
  @apply flex flex-col  relative w-[100%] px-6  gap-y-1;
}
.Carbon-ContactsView-innerBox {
  border: 1px solid transparent;
  box-shadow: 4px 4px 20px 0px rgba(111, 140, 176, 0.41), -6px -6px 20px 0px rgba(255, 255, 255, 1), 2px 2px 4px 0px rgba(114, 142, 171, 0.1);
  @apply rounded-[27px] flex items-center bg-gray-100 h-[44px] text-gray-500/60 px-4 leading-[18px] text-[13px] font-[300]   justify-between;
}
.Carbon-ContactsView-Section {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply relative overflow-auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Carbon-ContactsView-Section::-webkit-scrollbar {
  display: none;
}
