.Carbon-ContactsView-Container {
  @apply w-full h-dvh py-6  mt-[50px] text-gray-700;
}

.Carbon-ContactsView-contactText {
  @apply leading-[24px] text-[16px] font-poppins text-gray-700 px-6  font-[500];
}
.Carbon-ContactsView-buttonsContainer {
  @apply flex justify-between items-center px-6 space-x-[25px]  min-w-[380px];
}
.Carbon-ContactsView-box {
  @apply flex flex-col  relative w-[100%] px-6  gap-y-1;
}
.Carbon-ContactsView-innerBox {
  border: 1px solid transparent;
  @apply rounded-[27px] flex items-center boxShadow-Gray bg-gray-100 h-[44px] text-gray-500/60 px-4 leading-[18px] text-[13px] font-[300]   justify-between;
}
.Carbon-ContactsView-Section {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @apply relative overflow-auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.Carbon-ContactsView-Section::-webkit-scrollbar {
  display: none;
}

.Carbon-ContactsView-exportIcon {
    mask-image: url(/Carbon/export.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-primary-color;  
}
.Carbon-ContactsView-scan {
    mask-image: url(/Carbon/scan.svg);
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    @apply w-6 h-6 bg-gray-700;  
}
